name: suml-4
channels:
  - conda-forge
dependencies:
  - python=3.11
  - pip
  - pip:
      - streamlit
      - pandas
      - numpy
      - scikit-learn
      - matplotlib
      - autogluon.tabular==1.4.0
